<h1>Контакты</h1>

<form action='/contacts' method='POST' role='form'>

  <div class="form-group">
    <label>Ваше имя:</label>
    <input  name='name' type="text" class="form-control"  placeholder='Ваше имя'>
  </div>

  <div class="form-group">
    <label>Ваш email</label>
    <input name='mail' type="text" class="form-control"  placeholder='Ваш email'>
  </div>

  <div class="form-group">
    <span class="input-group-text"><strong>With textarea</strong></span>
    <textarea name='body' class="form-control" aria-label="With textarea"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>

</form>
  
